<!DOCTYPE html>
<html>
<head>
  <title>FlashCardsProjectRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%if user_signed_in? %>

  <div class="profile-panel">
    <li><img class="small-avatar" src="<%= current_user.avatar %>"></li>
    <li><a class="dash-link" href="/users/<%= current_user.id %>"><%=current_user.name%></a></li>
  </div>


  <div class="control-panel">
    <li><a class="comm-link" href="/decks">Community</a></li>
    <li><a class="create-link" href="#">Create</a></li>
    <li><a class="logout-link" href="/users/log_out">Logout</a></li>
  </div>

  <%else%>


  <div class="profile-panel">
    <li> No User signed in </li>

  </div>


  <div class="control-panel">
   <li>  <a href="#" class="login-link">login</a></li>
   <li> <a href="#" class="signup-link">sign-up</a></li>
  </div>
  <%end%>

</header>
<br><br>

<body>

  <%= yield %>

</body>
</html>
