<!DOCTYPE html>
<html>
<head>
  <title>FlashCardsProjectRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%if user_signed_in? %>

  <div class="profile-panel">
    <li><img class="small-avatar" src="<%= current_user.avatar %>"></li>
    <li><a class="dash-link" href="#"><%=current_user.name%></a></li>
  </div>


  <div class="control-panel">
    <li><a class="comm-link" href="#">Community</a></li>
    <li><a class="create-link" href="#">Create</a></li>
    <li><a class="logout-link" href="<%= destroy_user_session_path %>">Logout</a></li>
  </div>

  <%else%>
  No User signed in
  <%end%>

</header>
<br><br>
<br><br>

<hr>
<body>

  <%= yield %>

</body>
</html>
